<div class="col-lg-12 col-md-12 col-sm-12 col-xs">
  <div class="row nav-tip">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <i class="ion-ios7-person-outline"></i>
    </div>
  </div>

  <div class="row nav-tip">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1 class="ClearSans-Thin">Customer Info.</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs">
      <form
        name="editForm"
        class="form-horizontal"
        role="form"
        novalidate
        ng-submit="editCtrl.update()"
      >
        <div class="form-group">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input
              type="text"
              class="form-control input-lg"
              placeholder="Full Name *"
              required
              ng-model="edit.customer_full_name"
              ng-maxlength="64"
              required
            >
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input
              type="tel"
              class="form-control input-lg"
              placeholder="Phone Number *"
              required
              ng-model="edit.customer_phone_number"
              ng-pattern="/^((\+251)|0)[0-9]{9}$/"
              ng-maxlength="13"
              required
            >
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input
              type="email"
              class="form-control input-lg"
              placeholder="Email"
              ng-model="edit.customer_email"
            >
          </div>
        </div>

        <div class="form-group">
          <div
            class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ngShowHide"
            ng-show="edit.customer_email !== '' && edit.customer_email !== null && (editForm.$error.hasOwnProperty('email') && editForm.$error.email === false)"
          >
            <a href="mailto:{{ edit.customer_email }}"
              class="btn btn-default btn-lg btn-block"
            >
              Email Customer
            </a>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button
              type="submit"
              ng-disabled="editForm.$invalid"
              class="btn btn-primary btn-lg btn-block"
            >
              Update
            </button>
          </div>
        </div>

        <div class="form-group delete-container">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button
              type="button"
              class="btn btn-danger btn-lg btn-block"
              ng-swipe-right="editCtrl.delete()"
            >
              Delete
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>



</div>

