<nav class="search-nav row">
  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
    <input
      type="text"
      class="form-control input-sm search"
      placeholder="Search Customers"
      ng-model="search.$"
    >

    <i class="search-icon ion-ios7-search"></i>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <a
      href="#/customers/new"
      class="btn btn-block btn-xs btn-default new-entity"
    >
      <i class="ion-ios7-plus-outline"></i>
    </a>
  </div>
</nav>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-of-search-nav">
  <div
    class="row ngRepeat moe-list"
    ng-repeat="customer in customers | filter:search:strict | orderBy:'customer_full_name':false"
    ng-swipe-left="customer.showAction = true"
    ng-swipe-right="customer.showAction = false"
  >
    <div
      class="col-lg-3 col-md-3 col-sm-3 col-xs-3 item-inital-container"
    >
      <h1
        class="Lato-Hai item-inital"
        ng-class="{merge: customer.operation === 'MERGE', save: customer.operation === 'SAVE', update: customer.operation === 'UPDATE'}"
        ng-bind="customer.customer_full_name[0]|uppercase"
      ></h1>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
      <p
        class="ClearSans-Light item-name"
        ng-bind="customer.customer_full_name"
      ></p>

      <h1
        class="ClearSans-Thin item-owes"
        ng-bind="customer.totalOwe | number:2"
      ></h1>

      <div
        class="row ngShowHide action"
        ng-show="customer.showAction"
      >
        <a
          class="col-lg-3 col-md-3 col-sm-3 col-xs-3"
          href="#/customers/sales/{{ customer.customer_id }}"
        >
          <i class="ion-ios7-cart-outline"></i>
          <small class="ClearSans-Light">Sales</small>
        </a>

        <a
          class="col-lg-3 col-md-3 col-sm-3 col-xs-3"
          href="#/customers/deposits/{{ customer.customer_id }}"
        >
          <i class="ion-ios7-cloud-upload-outline"></i>
          <small class="ClearSans-Light">Deposit</small>
        </a>

        <a
          class="col-lg-3 col-md-3 col-sm-3 col-xs-3"
          href="tel:{{ customer.customer_phone_number }}"
        >
          <i class="ion-ios7-telephone-outline"></i>
          <small class="ClearSans-Light">Call</small>
        </a>

        <a
          class="col-lg-3 col-md-3 col-sm-3 col-xs-3"
          href="#/customers/info/{{ customer.customer_id }}"
        >
          <i class="ion-ios7-information-outline"></i>
          <small class="ClearSans-Light">Info</small>
        </a>
      </div>
    </div>
  </div>
</div>

