/* font: START ---------------------------------------------------------------*/
@font-face {
  font-family: 'ClearSans-Thin';
  src: url(../font/clearsans/WOFF/ClearSans-Thin.woff) format('woff');
}

@font-face {
  font-family: 'ClearSans-Light';
  src: url(../font/clearsans/WOFF/ClearSans-Light.woff) format('woff');
}

@font-face {
  font-family: 'ClearSans-Regular';
  src: url(../font/clearsans/WOFF/ClearSans-Regular.woff) format('woff');
}

@font-face {
  font-family: 'ClearSans-Medium';
  src: url(../font/clearsans/WOFF/ClearSans-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Droid Sans Ethiopic';
  src: url(../font/clearsans/WOFF/ClearSans-Medium.woff);
  font-style: normal;
  font-weight: 400;
  src: url(../font/DroidSansEthiopic/DroidSansEthiopic-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato-Hai';
  src: url(../font/lato/Lato-Hai.ttf);
}

.ClearSans-Thin {
  font-family: 'ClearSans-Thin';
}

.ClearSans-Light {
  font-family: 'ClearSans-Light';
}

.ClearSans-Regular {
  font-family: 'ClearSans-Regular';
}

.ClearSans-Medium {
  font-family: 'ClearSans-Medium';
}

.Lato-Hai {
  font-family: 'Lato-Hai';
}

.Droid-Sans-Ethiopic {
  font-family: 'Droid Sans Ethiopic', serif;
}
/* font: END -----------------------------------------------------------------*/



/* Angular.js: START ---------------------------------------------------------*/
#ngView.ng-enter {
  opacity: 0;
  -moz-transition: opacity linear 0.8s;
  -webkit-transition: opacity linear 0.8s;
  -o-transition: opacity linear 0.8s;
  -ms-transition: opacity linear 0.8s;
  transition: opacity linear 0.8s;
}

#ngView.ng-enter.ng-enter-active {
  opacity: 1.0;
}

.ngRepeat.ng-enter,
.ngRepeat.ng-leave,
.ngRepeat.ng-move {
  position: relative;
  -moz-transition: 0.3s linear all;
  -webkit-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  -ms-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

.ngRepeat.ng-enter {
  opacity: 0;
  -moz-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  transform: rotateX(90deg);
}

.ngRepeat.ng-enter.ng-enter-active {
  opacity: 1;
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.ngRepeat.ng-leave {
  opacity: 1;
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.ngRepeat.ng-leave.ng-leave-active {
  opacity: 0;
  -moz-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  transform: rotateX(90deg);
}

.ngRepeat.ng-move {
  opacity: 0.5;
}

.ngRepeat.ng-move.ng-move-active {
  opacity: 1;
}

.ngShowHide {
  -moz-transition: all linear 0.3s;
  -webkit-transition:all linear 0.3s;
  transition:all linear 0.3s;
  opacity: 1;
}

.ngShowHide.ng-hide-add,
.ngShowHide.ng-hide-remove {
  opacity: 1.0;
  display: block!important;
}

.ngShowHide.ng-hide {
  opacity: 0;
}
/* Angular.js: END -----------------------------------------------------------*/



/* BS3: START ----------------------------------------------------------------*/
.form-control {
  border-radius: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
  padding: 0px 8px;
  display: block;
  -webkit-appearance: none;
}

.btn {
  border-radius: 0;
  font-weight: normal;
  -moz-transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: normal;
}
/* BS3: END ------------------------------------------------------------------*/



/* notification-bar: START ---------------------------------------------------*/
.notification-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: 999999999;
  color: #fcfcfc;
  background-color: rgba(243, 156, 18, 0.95);
  box-shadow: 0 0 12px 0 rgba(51, 51, 51, 0.5);
  overflow: hidden;
  text-align: center;
}

.notification-bar > p {
  padding: 2px 6px;
  margin: 0;
}
/* notification-bar: END -----------------------------------------------------*/



/* HTML5: START --------------------------------------------------------------*/
body {
  font-family: 'ClearSans-Light';
  font-weight: normal;
  padding-top: 4px;
  padding-bottom: 46px;
  padding-left: 8px;
  padding-right: 8px;
}

.mt12 {
  margin-top: 12px;
}

nav.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 44px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-top: 1px solid rgba(51, 51, 51, 0.125);
}

nav.menu > a {
  color: #999999;
}

nav.menu i {
  position: absolute;
  left: 0;
  right: 0;
  top: -4px;
  font-size: 40px;
  -moz-transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

nav.menu small {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -40px;
  font-size: 10px;
}

nav.menu > a.active {
  color: rgba(0, 122, 255, 0.8);
}

.search-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  z-index: 999999;
}

.search-nav input.search {
  position: absolute;
  height: 28px;
  top: 2px;
  bottom: 2px;
  border: 0;
  padding: 0;
  padding-left: 32px;
  color: #666666;
  font-size: 14px;
  z-index: 100;
  border: 0px solid rgba(0, 0, 0, 0);
}

.search-nav input.search:focus {
  box-shadow: none;
}

.search-nav .search-icon {
  position: absolute;
  top: 6px;
  left: 24px;
  font-size: 20px;
  color: #999999;
  z-index: 101;
}

.search-nav .new-entity {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  padding: 0;
  border: 0;
  z-index: 100;
  border: 0px solid rgba(0, 0, 0, 0);
}

.search-nav .new-entity i {
  position: absolute;
  top: 4px;
  right: 26px;
  font-size: 24px;
  color: rgba(0, 122, 255, 0.8);
}

.bottom-of-search-nav {
  padding-top: 42px;
}

.nav-tip {
  color: #999999;
  text-align: center;
}

.nav-tip i {
  margin-top: 24px;
  font-size: 72px;
}

.nav-tip h1 {
  font-size: 32px;
  line-height: 32px;
  margin: 0;
  margin-top: -8px;
  margin-bottom: 16px;
}

.moe-list {
  padding: 2px 0px;
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

.moe-list .item-inital-container {
  height: 78px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.moe-list h1.item-inital {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 72px;
  height: 72px;
  margin: auto;
  padding: 0;
  padding-top: 10px;
  padding-left: 1px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 72px;
  font-size: 42px;
  color: #666666;
}

.moe-list h1.item-inital.save {
  background-color: rgba(46, 204, 113, 0.5);
}

.moe-list h1.item-inital.update {
  background-color: rgba(243, 156, 18, 0.5);
}

.moe-list .item-name {
  margin: 0;
  margin-top: 2px;
  margin-bottom: 4px;
  font-size: 20px;
  color: #666666;
  line-height: 20px;
  text-transform: capitalize;
}

.moe-list .item-code {
  margin: 0;
  margin-top: -2px;
  font-size: 14px;
  color: rgba(153, 153, 153, 1.0);
  text-transform: uppercase;
}

.moe-list .item-unit-price {
  margin: 0;
  margin-top: -6px;
  margin-bottom: -8px;
  font-size: 28px;
  color: rgba(231, 76, 60, 0.7);
}

.moe-list .item-owes {
  margin: 0;
  padding: 0;
  color: rgba(231, 76, 60, 0.7);
  font-size: 28px;
}

.moe-list .action {
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
  height: 78px;
  background-color: rgba(255, 255, 255, 0.95);
  text-align: center;
}

.moe-list .action a {
  font-size: 38px;
  height: 78px;
  text-decoration: none;
  color: #666666;
}

.moe-list .action small {
  font-size: 14px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 14px;
}

.moe-list .action a.phone {
  color: rgba(39, 174, 96, 0.7);
}

.moe-list .action a.sale {
  color: rgba(231, 76, 60, 0.7);
}

.moe-list .action a.info {
  color: rgba(41, 128, 185, 0.7);
}

.col-lg-12 > .moe-list:last-child {
  border-bottom: 0px solid rgba(51, 51, 51, 0.1);
}

.editForm input {
  font-size: 16px;
  padding: 0;
  border: 0;
  border-bottom: 1px solid rgba(51, 51, 51, 0.125);
}

.editForm input:focus,
.editForm input:active {
  box-shadow: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.25);
}

.delete-container {
  margin-top: 400px;
  margin-bottom: 50px;
}
/* HTML5: END ----------------------------------------------------------------*/
