<nav class="search-nav row">
  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
    <input
      type="text"
      class="search form-control input-sm"
      placeholder="Search Customers"
      ng-model="searchCustomers.$"
    >

    <i class="search-icon ion-ios7-search"></i>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <a
      href="#/customers/new"
      class="btn btn-block btn-xs btn-default new-entity"
    >
      <i class="ion-ios7-plus-outline"></i>
    </a>
  </div>
</nav>



<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-of-search-nav">
  <div class="row moe-list">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 customer-inital">
      <h1 class="Lato-Hai">M</h1>
      <p></p>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 moe-content">
      <p class="ClearSans-Medium customer-name">Moe Szyslak</p>
      <h1 class="ClearSans-Thin customer-owes">13, 656.99<small>&nbsp;birr</small></h1>
    </div>
  </div>

  <div class="row moe-list">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 customer-inital">
      <h1 class="Lato-Hai">B</h1>
      <p></p>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 moe-content">
      <p class="ClearSans-Medium customer-name">Biniam Teka</p>
      <h1 class="ClearSans-Thin customer-owes">125, 356.00<small>&nbsp;birr</small></h1>
    </div>
  </div>

  <div class="row moe-list">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 customer-inital">
      <h1 class="Lato-Hai">E</h1>
      <p></p>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 moe-content">
      <p class="ClearSans-Medium customer-name">Eyassu Berehanu</p>
      <h1 class="ClearSans-Thin customer-owes">204, 613.40<small>&nbsp;birr</small></h1>
    </div>
  </div>
</div>

