<nav class="search-nav row">
  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
    <input
      type="text"
      class="search form-control input-sm"
      placeholder="Search Customers"
      ng-model="search.$"
    >

    <i class="search-icon ion-ios7-search"></i>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <a
      href="#/customers/new"
      class="btn btn-block btn-xs btn-default new-entity"
    >
      <i class="ion-ios7-plus-outline"></i>
    </a>
  </div>
</nav>

<button ng-click="customersCtrl.db()" style="margin-top: 50px;">Sync</button>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-of-search-nav">
  <div
    class="row ngRepeat moe-list"
    ng-repeat="customer in data.customers | filter:search:strict | orderBy:'customer_full_name':false"
    ng-swipe-left="customer.showAction = true"
    ng-swipe-right="customer.showAction = false"
  >
    <div
      class="col-lg-3 col-md-3 col-sm-3 col-xs-3 item-inital-container"
    >
      <h1
        class="Lato-Hai item-inital"
        ng-class="{save: customer.operation === 'SAVE', update: customer.operation === 'UPDATE'}"
        ng-bind="customer.customer_full_name[0]|uppercase"
      ></h1>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
      <p
        class="ClearSans-Regular item-name"
        ng-bind="customer.customer_full_name"
      ></p>

      <h1
        class="ClearSans-Regular item-owes"
        ng-bind="6893656.99|currency:''"
      ></h1>

      <div
        class="row ngShowHide action"
        ng-show="customer.showAction"
      >
        <a
          class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sale"
          href="#/customers/sale/{{ customer.customer_id }}"
        >
          <i class="ion-ios7-pricetag-outline"></i>
          <small class="ClearSans-Regular">Sale</small>
        </a>

        <a
          class="col-lg-4 col-md-4 col-sm-4 col-xs-4 phone"
          href="tel:{{ customer.customer_phone_number }}"
        >
          <i class="ion-ios7-telephone-outline"></i>
          <small class="ClearSans-Regular">Call</small>
        </a>

        <a
          class="col-lg-4 col-md-4 col-sm-4 col-xs-4 info"
          href="#/customers/info/{{ customer.customer_id }}"
        >
          <i class="ion-ios7-information-outline"></i>
          <small class="ClearSans-Regular">Info</small>
        </a>
      </div>
    </div>
  </div>
</div>

