<div class="col-lg-12 col-md-12 col-sm-12 col-xs">
  <!-- from hold account to an `actual` account -->
  <div class="row moe-list">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 item-inital-container">
      <h1 class="Lato-Hai item-inital">
        <i class="ion-ios7-bolt-outline text-muted"></i>
      </h1>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
      <p class="ClearSans-Regular item-name" style="margin-top: 12px;">Transfer</p>
      <p class="Droid-Sans-Ethiopic item-name">አስተላልፍ</p>
    </div>
  </div>



  <!-- from `external` income to an account -->
  <div class="row moe-list">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 item-inital-container">
      <h1 class="Lato-Hai item-inital">
        <i class="ion-ios7-cloud-upload-outline text-muted"></i>
      </h1>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
      <p class="ClearSans-Regular item-name" style="margin-top: 12px;">Deposit</p>
      <p class="Droid-Sans-Ethiopic item-name">አስገባ</p>
    </div>
  </div>



  <!-- today's sale -->
  <div class="row moe-list">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 item-inital-container">
      <h1 class="Lato-Hai item-inital">
        <i class="ion-ios7-pricetag-outline text-muted"></i>
      </h1>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
      <p class="ClearSans-Regular item-name" style="margin-top: 12px;">Today's Sale</p>
      <p class="Droid-Sans-Ethiopic item-name">የዛሬ ሽያጭ</p>
    </div>
  </div>


  <!-- popular items -->
  <div class="row moe-list">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 item-inital-container">
      <h1 class="Lato-Hai item-inital">
        <i class="ion-ios7-star-outline text-muted"></i>
      </h1>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
      <p class="ClearSans-Regular item-name" style="margin-top: 12px;">Popular Items</p>
      <p class="Droid-Sans-Ethiopic item-name">ተወዳጅ እቃዎች</p>
    </div>
  </div>


  <div class="row moe-list">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 item-inital-container">
      <h1 class="Lato-Hai item-inital">
        <i class="ion-ios7-close-empty text-muted"></i>
      </h1>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
      <p class="ClearSans-Regular item-name" style="margin-top: 12px;">Logout</p>
      <p class="Droid-Sans-Ethiopic item-name">ውጣ</p>
    </div>
  </div>
</div>
